// start navbar
.navbar {
    background-color: $color-primary !important;

    &-brand {
        font-size: 1.5rem !important;
    }
}

// end navbar
// start currentSong
.currentSong {
    height: 40vh;
    background: linear-gradient(0deg, rgba(35, 53, 74, 0.7), rgba(35, 53, 74, 0.85)), url(../../static/img/Hope_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 50%;
    background-attachment: fixed;
    position: relative;
    color: $color-primary !important;

    &_box {
        width: 85%;
        margin-top: 15vh;

        &-img {
            box-shadow: 0px 0px 1rem 0.16rem $color-primary;
            position: relative;
        }

        &-icon {
            position: absolute;
            top: 29%;
            left: 39%;
            cursor: pointer;

            @media (max-width:1200) {
                top: 31%;
            }

            @media (max-width:992px) {
                top: 35%;
            }
        }
    }

    &_caption {
        margin-top: 15vh;

        .row {
            height: 20vh !important;
        }

        &-icon {
            cursor: pointer;
        }
    }

    &_time {
        font-weight: bold;
    }

    &_range {
        cursor: pointer;
    }
}

// end currentSong
// start song List
.songList {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 31vh !important;

    &::-webkit-scrollbar {
        border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-tertiary;
        border-radius: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0.2rem;
    }

    .songItem {
        color: $color-primary !important;
        cursor: pointer;

        &_box {
            height: 28vh !important;
            width: 8rem !important;
        }
    }
}

// end song List