// start navbar
.navbar {
    background-color: $color-primary !important;

    &-brand {
        font-size: 1.5rem !important;
    }
}

// end navbar
// start currentSong
.currentSong {
    height: 40vh;
    color: $color-primary !important;

    &_box {
        width: 85%;
        margin-top: 15vh;

        &-img {
            box-shadow: 0px 0px 1rem 0.16rem $color-primary;
            position: relative;
        }

        &-icon {
            position: absolute;
            top: 35%;
            left: 39%;
            cursor: pointer;

            @media (max-width:1200) {
                top: 31%;
            }

            @media (max-width:992px) {
                top: 35%;
            }
        }
    }

    &_caption {
        margin-top: 15vh;

        .row {
            height: 20vh !important;
        }

        &-icon {
            cursor: pointer;
        }
    }

    &_time {
        font-weight: bold;
    }

    &_range {
        cursor: pointer;
    }
}

// end currentSong
// start current Song Mobile
.currentSongMobile {
    min-height: 92.3vh;

    &_box {
        width: 85%;
        margin-top: 15vh;

        @media (max-width:600px) {
            margin-top: 8vh;
            width: 90%;
        }

        margin-left: 1rem !important;

        &-img {
            width: 90%;
            position: relative;
            overflow: hidden;

            &-icon {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                z-index: 2;
                top: 35%;
            }
        }
    }

    &_range {
        width: 100%;
        position: absolute;
        cursor: pointer;
        left: -0.2%;
        top: 96.3%;

        .progress {
            border-bottom-left-radius: 8.5px !important;
        }

        input {
            border-bottom-left-radius: 8.5px !important;
        }
    }
}

// end current Song Mobile
// start song List
.songList {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 31vh !important;

    &::-webkit-scrollbar {
        border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-tertiary;
        border-radius: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0.2rem;
    }

    .songItem {
        color: $color-primary !important;
        cursor: pointer;

        &_box {
            height: 28vh !important;
            width: 8rem !important;
        }
    }
}


// end song List